input {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  margin-bottom: 15px;

  background: transparent; /* Fundo transparente */
  color: #fff; /* Cor do texto */

  border: 1px solid #fff; /* Borda branca */
  border-radius: 5px;

  transition: 0.3s;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
  outline: none;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;

  background-image: url("../img/fundo02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}